* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: url("fundo.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

.phrase {
  font-size: 28px;
  z-index: 2;
  margin-bottom: 20px;
}

#clock {
  font-size: 50px;
  z-index: 2;
  margin-bottom: 30px;
}

.icons img {
  width: 50px;
  margin: 10px;
  z-index: 2;
}
